<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pfdhelpinghand">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="HelpingHand"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PFDHelpingHand">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAmh_CHKyEBR4VW1tscBLu1Sm0BJeK0ipE" />

        <activity
            android:name=".CountdownDialog"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Dialog">
        </activity>
        <activity
            android:name=".ElderlyViewMore"
            android:exported="false" />
        <activity
            android:name=".AddAppointment"
            android:exported="false" />
        <activity
            android:name=".CaregiverSetting"
            android:exported="false" />
        <activity
            android:name=".WeeklyAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".AddMedication"
            android:exported="false" />
        <activity
            android:name=".ViewCaregivers"
            android:exported="false" />
        <activity
            android:name=".ElderlySettingsActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpElderlyActivity"
            android:exported="false" />
        <activity
            android:name=".MedicationAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpMainActivity"
            android:exported="false" />
        <activity
            android:name=".CaregiverMainActivity"
            android:exported="false" />
        <activity
            android:name=".WeeklyMedicationActivity"
            android:exported="false" />
        <activity
            android:name=".HelpLostActivity"
            android:exported="false" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name=".AlarmReceiver" />
    </application>

</manifest>